/* *{
    outline: 3px solid black;
} */

body, html{
    margin: 0 auto;
}

ul{
   display: inline-block;
   height: 100%;
   width: 100%;
    text-decoration: none;
}

.image{
    display: block;
    max-height: auto;
    max-width: 50%;
    padding-left: 25%;
    padding-right: 25%;
}

.moto{
    display: block;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: rgba(0, 0, 0, 0.918);
    -webkit-font-smoothing: antialiased; 
    color: white;
    padding-left: 25%;
    padding-right: 25%;
}

.photography{
    display: block;
    padding-left: 25%;
    padding-right: 25%;
}

footer{
    display: inline-block;
}

/* Prevents collapsing of float */
.group:before,
.group:after {
    content: " ";
    display: table;
}
/* Compatibility check */
.group:after{
    clear: both;
}
/* Compatibility check */
.group{ 
    *zoom: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}