

li {
    display: inline;
    margin-left: auto;
    margin-right: auto;
}



/* Prevents collapsing of float */
.group:before,
.group:after {
    content: " ";
    display: table;
}
/* Compatibility check */
.group:after{
    clear: both;
}
/* Compatibility check */
.group{ 
    *zoom: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}